/*
ARGEO docbook styles
last revision : 4 / 7 / 2020
*/


body{
margin:0;
padding:0;
font-family:sans-serif;
background-color:#fff;
/* colors */
--primary-title:#00294b;
--secundary-title:#ff8d1f;
--argeo-light:#f5702e;
--argeo-night:#00192c;
--light-text:#ddd;
}

/* 
generic elements 
*/

hr {display:none;}
a{color:inherit;text-decoration:none;}
a:hover{text-decoration:underline;}

/*
navigation 
*/

.navheader, .navfooter{color:white;background-color:var(--argeo-night);padding:.5em 1em;}
.navheader {margin-bottom:3rem;}
.navfooter{margin-top:4.5rem;}
th,td{vertical-align:middle;letter-spacing:.5px;}
table tr:nth-child(1) th{font-size:1.5rem;}
table tr:nth-child(2) th{color:var(--light-text);}


/*
main content
*/

.book, .chapter, .section {max-width:960px;margin:auto;}
h1,h2{color:var(--primary-title);}
h3{color:var(--secundary-title);}

h1{font-size:2.5rem;}
h2{font-size:1.75rem;}
pre.screen{padding:.75em; color:white; background-color:#333;border-radius:0.5em;}
code.filename{background-color:var(--light-text);display:inline-block;padding:.5em;margin:0 .5em;position:relative;top:-1px;}

/*
toc
*/

div.toc>p{color:white;background-color:var(--primary-title);padding:.5em 1em;margin:0;}
dl.toc{padding:1em;border:1px solid #333;margin-top:0;background-color:var(--light-text);}

/*
title page
*/

.book{box-sizing:border-box;background:linear-gradient(to bottom,var(--argeo-night),var(--primary-title));padding:3rem 7rem;}
.book h1.title{color:white;font-weight:normal;font-size:4.5rem;letter-spacing:1px;text-align:center;}
.book h2.subtitle{max-width:700px;margin:auto;color:white;font-size:1.75rem;font-weight:normal;text-align:center;margin-bottom:5rem;}
.book h3{text-align:right;}
.book p.pubdate{color:var(--secundary-title);font-weight:bold;text-align:right;}
.book div.toc{margin-top:3rem;}

/*
article
*/

.article {max-width:960px;margin:auto;}
.article h2.title {text-align:center;font-size:4.5rem;margin-bottom:1.5rem;}
.article h3.subtitle{width:75%;margin:auto;text-align:center;font-weight:normal;letter-spacing:.5px;font-size:1.75rem;font-family:monospace;margin-bottom:3rem;}
.article p {line-height:1.5em;text-align:center;}

.article .section div.titlepage{margin-top:4.5rem;margin-bottom:4.5rem;}
.article .section h2.title{font-size:2rem;text-align:left;padding:0 3rem 1rem 0;letter-spacing:1px;color:var(--argeo-night);margin:0;text-transform:uppercase;height:3rem;line-height:3rem;border-bottom:.25rem solid var(--argeo-night);}

.article .section h2.title:first-letter{font-size:5rem;display:inline-block;vertical-align:middle;font-weight:normal;color:var(--argeo-night);}

.article .section h2.title a{display:none;}

.article .section p{text-align:left}
.article .section strong{color:var(--primary-title);font-size:1.05em;letter-spacing:.5px;}
.article .section a{color:var(--secundary-title);font-weight:bold;letter-spacing:.5px;text-decoration:underline;display:inline-block;padding:.25rem .5rem;}
.article .section a:hover{cursor:pointer;color:white;background-color:var(--secundary-title)}
.article .section ul{margin-bottom:1.5rem;}
.article .section ul p{margin:.5rem auto;}

.article .section .qandaset{}
.article .section .qandaset a{letter-spacing:0;color:var(--primary-title);text-decoration:none;}
.article .section .qandaset a:hover{text-decoration:underline;background-color:var(--light-text);}
.article .section .qandaset > dl{margin:0;background-color:var(--light-text);padding:3rem;}
.article .qandaset table{max-width:910px;}
.article .qandaset table td{vertical-align:bottom;}
.article .qandaset table td p{margin-bottom:0;}
.article .qandaset table td h4{margin-top:4.5rem;color:var(--primary-title);font-size:1.75rem;}
.article .qandaset table tr.question td,.article .qandaset table tr.answer td {position:relative;left:50px;}
.article .qandaset table tr.question td{color:var(--primary-title);font-weight:bold;font-style:italic;letter-spacing:0;}
.article .qandaset table tr.question td:nth-child(2){padding-left:.5em;border-bottom:1px solid var(--argeo-night);}
.article .qandaset table tr.answer td:nth-child(2){padding-left:.5em;}